{% extends 'base_usuario.html' %}
{% load static %}
{% block title %}Mi Cuenta{% endblock %}
{% block aside-content %}
	<div
		class="w-full h-full xs:p-4 flex justify-center items-center place-items-center">
		<div class="w-full lg:w-3/4 bg-white rounded-lg shadow">
			<div
				class="p-4 border-b rounded-t">
				<h3
					class="text-xl font-semibold text-gray-900">
					Informacion de la cuenta
				</h3>
			</div>
			<div class="relative p-4 space-y-6">
				<div class="relative max-w-md">
					<input type="text"
						id="floating_outlined1"
						class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
						placeholder=" "/>
					<label for="floating_outlined1"
						class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">
						Nombre
					</label>
				</div>
				<div class="relative max-w-md">
					<input type="text"
						id="floating_outlined2"
						class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
						placeholder=" "/>
					<label for="floating_outlined2"
						class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">
						Correo
					</label>
				</div>
				<div class="relative max-w-md">
					<input type="text"
						id="floating_outlined3"
						class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
						placeholder=" "/>
					<label for="floating_outlined3"
						class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">
						Contraseña
					</label>
				</div>
				<div class="relative max-w-md">
					<input type="text"
						id="floating_outlined4"
						class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
						placeholder=" "/>
					<label for="floating_outlined4"
						class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">
						Celular
					</label>
				</div>
				<div class="relative max-w-md">
					<input type="text"
						id="floating_outlined5"
						class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
						placeholder=" "/>
					<label for="floating_outlined5"
						class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">
						Direccion
					</label>
				</div>
			</div>
			<div
				class="flex flex-col xs:flex-row items-center gap-4 xs:gap-0 p-4 xs:space-x-2 border-t border-gray-200 rounded-b">
				<button type="button"
					id="edit-info"
					class="w-48 xxs:w-52 text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center">
					Editar
				</button>
				<button type="button"
					id="change"
					class="w-48 xxs:w-52 text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center">
					<a href="{% url 'cambiar_contrasena' %}"
						class="text-white"
					>
						Cambiar Contraseña
					</a>
				</button>
			</div>
		</div>
	</div>
{% endblock %}

{% block js %}
	<script src="{% static 'src/js/user_detail.js' %}"></script>
{% endblock %}
